.version-two {
  padding: $base-card-padding;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: $version-tow-background-gradient;
  z-index: 10;
  position: sticky;
  height: 100%;
  & img {
    width: 13vw;
  }
  &__text {
    font-size: 5.5rem;
    color: white;
    margin: 0.4em 0;
  }
}