.homepage {
  display: flex;
  justify-content: center;
  // height: 20vh;
  position: relative;
  // background-color: $heading-color;
  // padding: $base-padding;
  &__text{
    margin: 0.3em;
    font-size: 1.1vw;
    font-weight: 600;
    color:$heading-color;
    // display: flex;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    justify-items: center;
    // height: 50px;
    align-items: center;
    justify-self: center;
    &__image {
      height: 35px;
      width: auto;
      border-radius: 50%;
      padding: 10px;
      background-color: aliceblue
    }
            
            @media screen and (max-width: 767px) {
              width: 8em;
              height: 8em;
            }
            
            @media screen and (max-width: 479px) {
              width: 6em;
              height: 6em;
            }
    }
}