a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $primary-color;
}

body {
  margin: 0;
}

footer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: #fff;
    font-family: "Lato";
  }
}

.home {
  background: $page-body-gradient;
}

.gradient-border {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: $base-border-padding;
  $border: 3px;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: $border-radius-gradient;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;

    border-radius: inherit;
    background: $border-gradient;
  }
}

.card-gradient-border {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: $base-border-padding;
  $border: 3px;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: $border-radius-gradient;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;

    border-radius: inherit;
    background: $card-button-border-gradient;
  }
}

.card-gradient-border {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: $base-border-padding;
  $border: 3px;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: $border-radius-gradient;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;

    border-radius: inherit;
    background: $card-button-border-gradient;
  }
}

.btn {
  background-color: white;
  color: $gray-color;
  font-weight: 500;
  cursor: pointer;
}

.btn-selected {
  background-color: $secondary-color;
  color: white;
  cursor: pointer;
  &:before {
    background: $card-button-border-gradient-selected;
  }
}
.mannawalletShow {
  background-color: #ffffff;
  color: $thirdinary-color;
  cursor: pointer;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  &:before {
    background: $card-button-border-gradient-selected;
  }
}
.card-gradient-border {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: $base-border-padding;
  $border: 3px;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: $border-radius-gradient;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;

    border-radius: inherit;
    background: $card-button-border-gradient;
  }
}
.btn-gradient {
  background-image: $button-background-color-gradient;
  color: white;
  cursor: pointer;
}

.btn-orange {
  color: $secondary-color;
}

.btn-back-orange {
  color: white;
  background-color: $secondary-color;
}

.btn-back-red {
  color: white;
  background-color: #fc686f;
}

.bold-text {
  font-weight: 500;
}

textarea:focus,
input:focus {
  outline: none;
}

.white-text {
  color: white;
  text-decoration: none;
}

.address:hover {
  cursor: default;
}

@media (max-width: 600px) {
  .gradient-border {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding: $base-border-padding;
    $border: 5px;
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: $border-radius-gradient * 3;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
  
      border-radius: inherit;
      background: $border-gradient;
    }
  }
  
  .card-gradient-border {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding: $base-border-padding;
    $border: 4px;
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: $border-radius-gradient * 2;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
  
      border-radius: inherit;
      background: $card-button-border-gradient;
    }
  }
  
  .btn {
    background-color: white;
    color: $gray-color;
    font-weight: 400;
    cursor: pointer;
  }
  
  .btn-selected {
    background-color: $secondary-color;
    color: white;
    cursor: pointer;
    &:before {
      background: $card-button-border-gradient-selected;
    }
  }
  
  .btn-gradient {
    background-image: $button-background-color-gradient;
    color: white;
    cursor: pointer;
  }
  
  .btn-orange {
    color: $secondary-color;
  }
  
  .btn-back-orange {
    color: white;
    background-color: $secondary-color;
  }
  
  .bold-text {
    font-weight: 500;
  }
  
  textarea:focus,
  input:focus {
    outline: none;
  }
  
  .white-text {
    color: white;
    text-decoration: none;
  }

}