$primary-color: #f37420;
$secondary-color: #ef5d24;
$thirdinary-color: #353535;
$forthinary-color: #f7931f;
$gray-color: #8c8c8c;
$base-padding: 20px 3vw;
$base-card-padding: 15px 10px;
$heading-color: #ffffff;
$footer-background-color: linear-gradient(to top left, #ed4524, #f7931f);
$base-border-padding: 5px 10px;
$text-color: #eeeeee;
$page-body-gradient: linear-gradient(-90deg, #ed4524 10%, #f7931f);
$button-background-color-gradient: linear-gradient(to right, #fc686f, #ff934d);
$button-background-color-gradient-disabled: linear-gradient( to right, #d8d8d8, #c4c4c4);
$border-gradient: linear-gradient(#85bed9, #aea2db, #67c1df, #b7c1c0, #868686);
$card-button-border-gradient: linear-gradient(to bottom, #ef5d24, #f79321);
$card-button-border-gradient-selected: linear-gradient(to bottom, #ef5d24, #f79321, #f6ccd8);
$version-tow-background-gradient: linear-gradient(to bottom, #fc686f, #ff934d);
$border-radius: 40px;
$border-radius-gradient: 15px;